table {
  text-align: center;
  margin: auto;
}

th {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: coral;
}

th:hover {
  background-color: gray;
  color: whitesmoke;
}

td {
  padding: 3px;
}

header {
  color:darkred;
  margin-bottom: 10px;
  text-align: center;
}

.city {
  cursor: pointer;
}

.city:hover {
  background-color: firebrick;
  color: whitesmoke;
}
